/* External stylesheet  */

body{
    background: rgb(117, 192, 192);
    @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
  
 
    font-family: "Lilita One", sans-serif;
}


h1{
    color: blue;
    text-align: center;
}
